<div class="container">
    <br>
    <div class="row">
        <div class="centered">            
            <img src = "../../assets/img/burger-flat.png" alt="burger-icon">            
        </div>
        <br>
    </div>
    <br>
    <div class="row">
        <div class="centered">
            <h1>Eat-Da-Burger</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <form class="form-inline create-form centered">
            <div class="form-group mx-sm-3 mb-2">
                <label for="new-burger" class="sr-only">Create your Burger</label>
                <input type="text" class="form-control" id="new-burger" placeholder="Your burger">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Place Order</button>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6" id="nonDevoured">
            <table class="table table-dark table-sm">
                <thead>
                    <tr>
                        <th>
                            TO BE DEVOURED
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <tr>
                                <td>
                                    {{burger_name}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm eatBurger" data-id="{{id}}" data-devoured="{{devoured}}">Eat your burger</button>
                                </td>
                            <tr></tr>
                        {{/unless}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6" id="devoured">
            <table class="table table-dark table-sm">
                <thead>
                    <tr>
                        <th>
                            ALREADY EATEN AND ENJOYED
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                        {{#if devoured}}
                            <tr>
                                <td>
                                    {{burger_name}} 
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm eatBurger" data-id="{{id}}" data-devoured="{{devoured}}">Reorder</button>
                                </td>
                                <td>
                                    <span class="del-burger" data-id="{{id}}"><strong>X</strong></span>
                                </td>

                            <tr></tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

